#block-sbd-social-social-block #print_button{
  width:25px;
  height: 20px;
  background-image: url('../img/print.png');
  background-repeat: no-repeat;
  background-size:contain;

}
#block-sbd-social-social-block #email_button{
  width:25px;
  height: 20px;
  background-image: url('../img/email.png');
  background-repeat: no-repeat;
  background-size:contain;
}
#block-sbd-social-social-block #pdf_button{
  width:25px;
  height: 20px;
  background-image: url('../img/pdf.png');
  background-repeat: no-repeat;
  background-size:contain;
}


#block-sbd-social-social-block h2.block-title {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #97C93C;
  line-height: 1.5em;
}

.sbd_soc_col {
  float: left;
}

#sbd_soc_col2 {
  padding-left: 10px;
}